<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rowing Community</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <!--    <link rel="stylesheet" href="/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--    <link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--    <link rel="stylesheet" href="https://kit.fontawesome.com/bcd20f5038.css" crossorigin="anonymous">-->

</head>
<body>
<nav>
    <p>
        <img src="/images/favicon.ico"></img>
    </p>
    <ul>

<!--                <li id="logo">-->
<!--                    <span>-->
<!--                        <img src="/images/favicon.ico"></img>-->
<!--                    </span>-->

<!--                </li>-->
        <li>
            <a href="Home.html">Home</a>

        </li>
        <li>
            <a href="Register.html">Register</a>
        </li>
        <li>
            <a href="/rowing/login">Login</a>
        </li>
        <li>
            <a href="/rowing/coach">Coaches</a>
        </li>
        <li>
            <a href="Admin.html">Admin</a>

        </li>
        <li>
            <a href="Moderator.html">Moderator</a>
        </li>
        <li>
            <a href="profile.html">Profile</a>
        </li>
        <li>
            <a href="About.html">Teams</a>

        </li>
        <li>
            <a href="About.html">Programs</a>
        </li>
        <li>
            <a href="About.html">About</a>
        </li>
    </ul>
</nav>
<!--<header>-->
<!--    <h1>Bulgarian rowing community</h1>-->
<!--</header>-->
<main>
    <aside>
        <a href="https://worldrowing.com/2022/09/21/707-71-twenty-years-of-the-womens-single-sculls-world-best-time/">
            <article>
                <img src="/images/Neykova.jpg" alt="Rumqna Neykova"> </img>
            </article>
        </a>

    </aside>
    <section>
<!--        <article>-->
<!--            <img src="/images/Neykova.jpg" alt="Rumqna Neykova"> </img>-->
<!--        </article>-->
        <article>
            <h2>Program of the day</h2>
            <p>Lorem ipsumownxwqxq,cxwmc,wcwv
            cwijncopmwqc,w[c,w,c
            iwncomwcp
            cwicmwcw
            </p>
            <h2>Athlete of the week</h2>
            <p>
                cowicpwchwbvcmwcswcwcw;lc,
                cwjcpwc,wl,c;wc
                 owncwciwqc
            </p>

        </article>
    </section>

</main>


<footer>
    <article>
        <a href="https://www.linkedin.com/in/tunay-rahvaliev-55a363127/">
              <span class="fa-stack">
           <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
        </a>
        <a href="https://www.facebook.com/tunay.rahvaliev">
              <span class="fa-stack" href="">
           <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
        </a>

<!--        <span class="fa-stack">-->
<!--           <i class="fa fa-circle-thin fa-stack-2x"></i>-->
<!--            <i class="fa fa-instagram fa-stack-1x"></i>-->
<!--        </span>-->


    </article>
    <article>
        &reg; Tunay Rahvaliev - Java Web 2023
    </article>

</footer>


</body>
</html>